body {
	background-color: #e7d5e4;
	color: black;
	font-family: 'Poppins', sans-serif;
	
}
/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #f058ac;
	color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #f058ac;
	color: white;
}
/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a pink background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
	background-color: #f058ac;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add a black background color to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f058ac;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}
.footer {
	text-align: center;
	background-color: #333;
	 padding: 3px;
	 font-size: 18px;
	 color: white

  }
  .aside {
	  
	  position: absolute;
	  float: right;
	  right: 10px;
	  
	  bottom: 40px;
	 
}
.button {
	background-color: #333; /* Green */
	border: none;
	color: white;
	padding: 10px 190px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
  }
  .button:hover {
	background-color: #f058ac;
	color: white;
	box-shadow: 0 9px 16px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
  }
  
